#contact-form-resize [data-bc-section-title],
#contact-form-resize [data-bc-title-container] {
  display: none !important;
}
#contact-form-resize [data-bc-schema-column] {
  display: flex !important;
  align-items: center;
  gap: 12px !important;
}
#contact-form-resize [data-bc-answer] {
  max-height: 60px;
}
#contact-form-resize [data-bc-question] {
  width: 50% !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}
#contact-form-resize
  [data-bc-schema-direction="rtl"]
  [data-bc-part][data-bc-invalid]
  [data-bc-validation-part] {
  padding-right: 0px !important;
  position: absolute;
  top: 55px;
}
#contact-form-resize
  [data-bc-part][data-bc-invalid]
  [data-bc-validation-part]
  li {
  color: var(--secondary-900) !important;
  font-size: 12px !important;
  white-space: nowrap !important;
}
#contact-form-resize [data-bc-question] * {
  width: 100% !important;
}
#contact-form-resize {
  width: 65% !important;
  flex-direction: row !important;
  align-items: start !important;
  transform: translateY(20px);
}
#captchaContainer {
  display: flex !important;
  flex-direction: row !important;
}
#contact-form-resize [data-bc-section] {
  padding: 0 !important;
  margin: 0 !important;
}
#contact-form-resize input {
  height: 59px !important;
  background-color: #fff !important;
  outline: none !important;
  padding: 0 12px;
  border-radius: 8px !important;
  box-shadow: none !important;
  border: 1px solid var(--zinc-300) !important;
}
#contact-form-resize input:focus {
  border: 1px solid var(--primary-300) !important;
}
#contact-form-resize input::placeholder {
  color: #71717a !important;
}
#contact-form-resize
  [data-bc-schema-direction="rtl"]
  [data-bc-part-related-cell] {
  margin: 0 !important;
}
#visa-form [data-bc-question]:not(.Upload_QS) [data-bc-title-container],
#visa-form [data-bc-section-title] {
  display: none !important;
}
#visa-form [data-bc-schema-column] {
  display: flex !important;
  flex-wrap: wrap;
  gap: 12px;
}
#visa-form input[type="text"],
#visa-form input[type="file"],
#visa-form textarea {
  height: 59px !important;
  background-color: #fff;
  border: 1px solid var(--zinc-300) !important;
  border-radius: 8px !important;
  color: var(--zinc-900);
  font-size: 20px;
}
#visa-form input[type="text"]:focus,
#visa-form input[type="file"]:focus,
#visa-form textarea:focus {
  box-shadow: none !important;
  border-color: var(--primary-600) !important;
}
#visa-form input[type="text"]::placeholder,
#visa-form input[type="file"]::placeholder,
#visa-form textarea::placeholder {
  color: var(--zinc-900);
  font-size: 20px;
}
#visa-form
  [data-bc-question]
  *:not([data-bc-upload-file-list]):not([data-bc-upload-file-item]) {
  width: 100% !important;
  margin: 0 !important;
}
#visa-form [data-bc-upload-file-list] [data-bc-upload-file-item] {
  width: 60px !important;
}
#visa-form [data-bc-question]:first-child,
#visa-form [data-bc-question]:nth-child(2),
#visa-form [data-bc-question]:nth-child(3) {
  width: 32.5% !important;
  margin: 0 !important;
}
#visa-form [data-bc-question]:nth-child(4),
#visa-form [data-bc-question]:nth-child(5),
#visa-form [data-bc-question]:nth-child(6),
#visa-form [data-bc-question]:nth-child(7) {
  width: 49.5% !important;
}
